<ion-view view-title="Aufgabe: {{task.name}}">
    <ion-content class="padding">
        ID: {{task.id}}
        <br/>
        Name: {{task.name}}
        <br/>
        Startposition: [{{player.startpositionLat}}, {{player.startpositionLong}}]
        <br/>
        Zielposition: [{{task.taskPosLat}}, {{task.taskPosLong}}]
        <br/>
        Startentfernung: {{task.distance}}
        <br/>
        <br/>
        <div id="color"></div>
        <div id="Entfernung"></div>
    </ion-content>
</ion-view>