<ion-view view-title="Aufgabe: {{task.name}}">
    <ion-content class="padding">
        ID: {{task.id}}
        <br/>
        Name: {{task.name}}
        <br/>
        Startposition: [{{player.startpositionLat}}, {{player.startpositionLong}}]
        <br/>
        Zielposition: [{{task.taskPosLat}}, {{task.taskPosLong}}]
        <br/>
        Startentfernung: {{task.distance}}
        <br/>
        <p id="Entfernung"></p>
        <p id="heading"></p>
        <div class="row">
            <div class="col" id="color"></div>
            <div class="col" align="center">
                <canvas id="arrow" resize></canvas>
            </div>
        </div>
    </ion-content>
    <div style="position: absolute; bottom: 0px; width: 100%">
        <div id='scores' style="text-align: center"></div>
    </div>
</ion-view>