<ion-view view-title="Account">
  <ion-content>
<!--    <ion-toggle ng-repeat="item in settingsList"
                ng-model="item.checked"
                ng-checked="item.checked">
      {{ item.text }}
    </ion-toggle>
    <ion-toggle ng-model="pushNotification.checked"
                ng-change="pushNotificationChange()">
      Push Notifications
    </ion-toggle>
-->
<!--    <div id="high"> -->
      <button class="button button-full button-positive" ng-click="emptyHighscores()">
        Highscores zurücksetzen
      </button>
<!--    </div>-->
  </ion-content>
</ion-view>
