<!-- Melanie Hammerschmidt -->

<ion-view view-title="Credits">
  <ion-content>
    <center>
      <h3>Danke an alle Unterstützer!!</h3>
      <img src="img/reach7.png" alt="REACH logo" style="width: 200px; height: 200px;">
      <p>
        Diese Applikation entstand im Jahr 2015 im Rahmen einer Studienarbeit an der Dualen Hochschule Baden-Württemberg, Mannheim
        mit dem Titel "Location-based Services - Theoretische Erarbeitung und prototypische Implementierung"
        durch die Studierenden:
      </p>
      <b>
        <ul style="list-style-type:disc">
          <li>Victor Schwartz</li>
          <li>Patrick Senneka</li>
          <li>Melanie Hammerschmidt</li>
        </ul>
      </b>
    </center>
  </ion-content>
</ion-view>
