<ion-view view-title="Aufgaben">
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="play({{task.id}})" ng-repeat="task in tasks" type="item-text-wrap" href="#/tab/task/{{task.taskName}}">
                <h3>{{task.name}}</h3>
                <p>Entfernung: {{task.distance}} km</p>
                <p>Punkte: {{task.score}}</p>
                <p>Finished: {{task.stateFinished}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
    <div style="position: absolute; bottom: 0px; width: 100%">
        <div style="text-align: center">
            <h3>Punkte: {{player.score}}</h3>
        </div>
    </div>
</ion-view>